# Env (NUNCA commitear credenciales)
.env
.env.local
.env.*.local

# Deps & build
node_modules
dist
playwright-report
test-results
lighthouse-report.html
lighthouse-report.json

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
